h2 {
  font-size: 1.25rem;
  font-weight: var(--normal-font-weight);
  margin-bottom: 0.5rem;
}

.current-weather ul li {
  margin: 0.25rem 0;
}

.current-weather .main-temp {
  font-size: var(--large-font-size);
  display: flex;
  align-items: flex-start;
}

.main-temp span {
  font-size: var(--normal-font-size);
  margin-top: 0.5rem;
}

.description {
  text-transform: capitalize;
}