h2 {
  font-size: var(--normal-font-size);
  font-weight: var(--normal-font-weight);
  margin-bottom: .5rem;
}

.current-weather ul li {
  margin: 0.25rem 0;
}

.current-weather .main-temp {
    font-size: var(--large-font-size);
}