.search {
  margin-bottom: 1.5rem;
}

.search-bar {
  margin-top: 0.5rem;
  max-width: var(--max-width);
  border: solid 1px var(--font-color);
  border-radius: 2px;
  display: flex;
}

.search-input {
  padding: 0.25rem 0.5rem;
  width: 100%;
  border: none;
  background-color: transparent;
}

.search-btn {
  padding: 0.25rem 0.5rem;
  background-color: var(--font-color);
  color: rgb(255, 255, 255);
  border: none;
}
